/* General Reset */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F5E6E3;
}

/* Header */
header {
  position: relative;
  height: 15vh; /* Smaller header height */
  background-color: #F5E6E3;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.montserrat-thin {
  font-weight: 100;
  font-size: 2.5rem;
  color: #594F3B;
  margin: 0;
}

/* About Section */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
}

.about {
  display: flex;
  flex-wrap: wrap;
  margin-right: 100px;
  margin-left: 100px;
  justify-content: center;
  background-color: #F5E6E3;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.about-photo {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 2rem;
}

.mission-statement {
  flex: 1;
}

.mission-statement p {
  margin-bottom: 1rem;
}

/* Resume */
.resume img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
}

/* Skills Section */
.skills {
  background-color: #F5E6E3;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 2rem 0;
  width: 90%;
  max-width: 800px;
  text-align: center;
}

.skills ul {
  list-style: none;
  padding: 0;
}

.skills ul li {
  margin: 0.5rem 0;
}

/* Contact Section */
.contact {
  background-color: #F5E6E3;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  margin: 2rem 0;
  width: 90%;
  max-width: 800px;
  text-align: center;
}

.contact ul {
  list-style: none;
  padding: 0;
}

.contact ul li {
  margin: 0.5rem 0;
}

/* Project Section */
.projects {
  padding: 2rem 1rem;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}

.project {
  background-color: #F5E6E3;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: calc(33.333% - 1rem); /* Three projects per row */
  text-align: center;
}

.project a {
  color: #594F3B;
  text-decoration: none;
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  margin: 1rem 0;
}

.project h3 {
  margin: 0;
}

.project p {
  margin: 1rem 0 0;
}

/* Footer */
footer {
  background-color: #594F3B;
  color: #F5E6E3;
  text-align: center;
  padding: 1rem;
  position: relative;
  width: 100%;
}

footer p {
  margin: 0;
  font-size: 1rem;
}

h1{
  text-align: center;
}